.Product {
  display: flex;
  border: 4px solid grey;
  border-radius: 14px;
  margin: 10px auto;
  padding: 10px 10px 0 10px;
  width: 180px;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center;
}
